@import "tailwindcss";

body {
  background-color: #0b0f19; /* Deep Gemini Black */
  color: #e5e7eb;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111827; 
}
::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

/* React Crop Customization */
.ReactCrop__crop-selection {
  border: 2px solid #60a5fa !important;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
}